* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/bg-xl.png");
    background-size: cover;
    background-repeat: repeat;

    background-color: #1c1c1c;
}

@media (max-width: 768px) {
    body {
        background-image: url("../assets/bg-sm.png");
        background-size: cover;
    }
}